<% if @topics && @topics.any? %>
  <% unless params[:tag].blank? %>
  <div class="title-bar">
    <h4><%= l(:label_questions_tagged_by, :count => @topics.count, :tag => params[:tag]) %></h4>
  </div>
  <% end %>
  <div id="topics_container">
    <table class="list topics">
      <th></th><th>title</th><th>last updated</th>
      <% @topics.each do |topic| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td>
            <span class="votes icon icon-vote"><%= topic.count_votes_up - topic.count_votes_down  %></span>
            <span class="answers icon icon-comment"><%= topic.replies_count %></span>
          </td>
          <td class="subject">
            <%= link_to h(topic.subject), { :controller => 'messages', :action => 'show', :board_id => topic.board, :id => topic } %>
          </td>
          <td>
            <% if topic.board.last_message %>
              <%= authoring topic.board.last_message.created_on, topic.board.last_message.author %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

  </div>
  <% if @topic_pages %>
    <% params[:controller] = 'questions' 
       params[:action] = 'topics' 
     %>
    <p class="pagination"><%= pagination_links_full @topic_pages, @topic_count %></p>
  <% end %>
<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
